<%- include('./partials/head.ejs') %> 

<%- include('./partials/header.ejs') %> 

    <main id="main-detail">
        <li class="product-li">
                <section>
                    <picture>
                        <img src="/img/product.jpg" alt="product-img">
                    </picture>
                    <section class="text">
                        <p class="product-name"><%= product.title %></p>
                        <p class="product-price">$ <%= product.price %></p>
                    </section>
                    <section class="descrption">
                        <h2>DESCRIPTION</h2>
                    </section>  
                    <section class="button">
                        <button class="add-cart" data-id="<%= product.id %>" >Add to Cart</button>
                    </section>
                </section>
        </li>
    </main>


<script src="/scripts/detail.local.storage.js"></script>
<script src="/scripts/api.post.ls.js"></script>
</body>
</html>