    
    <% let product = productsForCart.find(x=> { %>
        <% if (x.id == element.id ) { %>
            <% return x %>
        <% } %>
    <% }) %>
    
    <li data-id="<%= element.id %>" class="li-cart">
        <picture>
            <img src="/img/product.jpg" alt="product-img">
        </picture>

        <section class="section-title">
            <p class="p-title"><%= product.title %></p>
        </section>

        <section class="section-quantity">
            <button data-id="<%= element.id %>"  class="decrement">-</button>
            <p data-id="<%= element.id %>" class="p-quantity"><%= element.quantity %></p>
            <button data-id="<%= element.id %>"  class="increment">+</button>
        </section>

        <section class="section-price">
            <span>$</span><p data-id="<%= element.id %>" class="p-price"><%= product.price * element.quantity  %></p>
        </section>

        <button data-id="<%= element.id %>" class="remove">X</button>

    </li>


